bin/Debug/net8.0/GRO-SD-TEST.dll
bin/Debug/net8.0/GRO-SD-TEST.pdb
obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfo.cs
obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfoInputs.cache
obj/Debug/net8.0/GRO-SD-TEST.dll
obj/Debug/net8.0/GRO-SD-TEST.pdb
obj/Debug/net8.0/GRO-SD-TEST.sourcelink.json
obj/Debug/net8.0/ref/GRO-SD-TEST.dll
obj/Debug/net8.0/refint/GRO-SD-TEST.dll
