bin/Debug/net8.0/GRO-SD-TEST
bin/Debug/net8.0/GRO-SD-TEST.deps.json
bin/Debug/net8.0/GRO-SD-TEST.runtimeconfig.json
obj/GRO-SD-TEST.csproj.nuget.dgspec.json
obj/GRO-SD-TEST.csproj.nuget.g.props
obj/GRO-SD-TEST.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/GRO-SD-TEST.assets.cache
obj/Debug/net8.0/GRO-SD-TEST.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/GRO-SD-TEST.csproj.FileListAbsolute.txt
obj/Debug/net8.0/GRO-SD-TEST.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/GRO-SD-TEST.genruntimeconfig.cache
obj/Debug/net8.0/GRO-SD-TEST.GlobalUsings.g.cs
bin/Debug/net8.0/GRO-SD-TEST.dll
bin/Debug/net8.0/GRO-SD-TEST.pdb
obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfo.cs
obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfoInputs.cache
obj/Debug/net8.0/GRO-SD-TEST.dll
obj/Debug/net8.0/GRO-SD-TEST.pdb
obj/Debug/net8.0/GRO-SD-TEST.sourcelink.json
obj/Debug/net8.0/ref/GRO-SD-TEST.dll
obj/Debug/net8.0/refint/GRO-SD-TEST.dll
_Bin/Debug/net8.0/GRO-SD-TEST
_Bin/Debug/net8.0/GRO-SD-TEST.deps.json
_Bin/Debug/net8.0/GRO-SD-TEST.dll
_Bin/Debug/net8.0/GRO-SD-TEST.pdb
_Bin/Debug/net8.0/GRO-SD-TEST.runtimeconfig.json
_Obj/GRO-SD-TEST.csproj.nuget.dgspec.json
_Obj/GRO-SD-TEST.csproj.nuget.g.props
_Obj/GRO-SD-TEST.csproj.nuget.g.targets
_Obj/project.assets.json
_Obj/project.nuget.cache
_Obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
_Obj/Debug/net8.0/apphost
_Obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfo.cs
_Obj/Debug/net8.0/GRO-SD-TEST.AssemblyInfoInputs.cache
_Obj/Debug/net8.0/GRO-SD-TEST.assets.cache
_Obj/Debug/net8.0/GRO-SD-TEST.csproj.CoreCompileInputs.cache
_Obj/Debug/net8.0/GRO-SD-TEST.csproj.FileListAbsolute.txt
_Obj/Debug/net8.0/GRO-SD-TEST.dll
_Obj/Debug/net8.0/GRO-SD-TEST.GeneratedMSBuildEditorConfig.editorconfig
_Obj/Debug/net8.0/GRO-SD-TEST.genruntimeconfig.cache
_Obj/Debug/net8.0/GRO-SD-TEST.GlobalUsings.g.cs
_Obj/Debug/net8.0/GRO-SD-TEST.pdb
_Obj/Debug/net8.0/GRO-SD-TEST.sourcelink.json
_Obj/Debug/net8.0/ref/GRO-SD-TEST.dll
_Obj/Debug/net8.0/refint/GRO-SD-TEST.dll
